{% extends "base.html" %}

{% block title %}AI Counselor Signin{% endblock %}

{% block content %}
    <main>
        <form>
            <table class="signin-input">
                <tr>
                    <td>email</td>
                    <td><input type="text" id="textbox"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="text" id="textbox"></td>
                </tr>
                <tr>
                    <td class="again">Password again</td>
                    <td class="again"><input type="text" id="textbox"></td>
                </tr>
            </table>
            <button>Create</button>
        </form>
        <a href="{% url 'signin' %}">Back</a>
    </main>
{% endblock %}