{% extends "base.html" %}

{% block title %}AI Counselor Signin{% endblock %}

{% block content %}
    <main>
        <form>
            <table class="signin-input">
                <tr>
                    <td>User name</td>
                    <td><input type="text" id=textbox></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="text" id=textbox></td>
                </tr>
            </table>
            <button>Signin</button>
        </form>
        <a href="">Forgot Password?</a>
        <br>
        <a href="./newaccount.html">New Account</a>

    </main>
{% endblock %}